*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
/app/build
/app/release
/app/debug
/app/.externalNativeBuild
openCVLibrary343/build/
.externalNativeBuild
openCVLibrary341/*
.idea/
import-summary.txt
